
#u26019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u26020 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:80px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0E2847;
}
#u26020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u26021 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:80px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0E2847;
}
#u26021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#0E2847;
}
#u26022 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:811px;
  width:87px;
  height:27px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#0E2847;
}
#u26022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:-webkit-linear-gradient(180deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  background:linear-gradient(270deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26023 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:831px;
  width:90px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:-webkit-linear-gradient(180deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  background:linear-gradient(270deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26024 {
  border-width:0px;
  position:absolute;
  left:1610px;
  top:831px;
  width:90px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:49px;
  background:-webkit-linear-gradient(270deg, rgba(1, 43, 78, 1) 28%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(1, 43, 78, 1) 28%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(1, 43, 78, 1) 28%, rgba(0, 0, 0, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26025 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1060px;
  width:135px;
  height:49px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:49px;
  background:-webkit-linear-gradient(180deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  background:linear-gradient(270deg, rgba(0, 118, 200, 1) 0%, rgba(1, 85, 157, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26026 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:1060px;
  width:135px;
  height:49px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D8DEE4;
}
#u26026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
