body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:310px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
}
#u4457_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4457_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  background:inherit;
  background-color:rgba(11, 37, 69, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 220, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FAFAFA;
  text-align:left;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:38px;
  width:176px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FAFAFA;
  text-align:left;
}
#u4459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u4459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:70px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-top:0px;
  border-right:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FAFAFA;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:70px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FAFAFA;
}
#u4460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:85px;
  background:inherit;
  background-color:rgba(2, 49, 105, 0.494117647058824);
  border:none;
  border-radius:12px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:10px;
  color:#FAFAFA;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-57px;
  width:77px;
  height:85px;
  display:flex;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:10px;
  color:#FAFAFA;
}
#u4461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:85px;
  background:inherit;
  background-color:rgba(2, 49, 105, 0.494117647058824);
  border:none;
  border-radius:12px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:10px;
  color:#FAFAFA;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:-57px;
  width:77px;
  height:85px;
  display:flex;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:10px;
  color:#FAFAFA;
}
#u4462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:85px;
  background:inherit;
  background-color:rgba(2, 49, 105, 0.494117647058824);
  border:none;
  border-radius:12px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:10px;
  color:#FAFAFA;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-57px;
  width:77px;
  height:85px;
  display:flex;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:10px;
  color:#FAFAFA;
}
#u4463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
