body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-106px;
  width:73px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4186 {
  position:absolute;
  left:106px;
  top:40px;
}
#u4186_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:334px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4186_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4189_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4189.mouseOver {
}
#u4189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4190_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:53px;
  height:49px;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:278px;
  width:43px;
  height:39px;
  display:flex;
}
#u4190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4190_img.mouseOver {
  left:-10px;
  top:-10px;
  width:63px;
  height:59px;
}
#u4190.mouseOver {
}
#u4190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4192_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4192.mouseOver {
}
#u4192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4193_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:57px;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:190px;
  width:45px;
  height:37px;
  display:flex;
}
#u4193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4193_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4193.mouseOver {
}
#u4193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4195_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4195.mouseOver {
}
#u4195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4196_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:59px;
  height:65px;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:100px;
  width:39px;
  height:45px;
  display:flex;
}
#u4196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4196_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4196.mouseOver {
}
#u4196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-3px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
}
#u4198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:69px;
  height:65px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:16px;
  width:49px;
  height:45px;
  display:flex;
  opacity:0.9;
}
#u4199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4186_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:334px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4186_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4202_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4202.mouseOver {
}
#u4202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4203_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:53px;
  height:49px;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:278px;
  width:43px;
  height:39px;
  display:flex;
}
#u4203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4203_img.mouseOver {
  left:-10px;
  top:-10px;
  width:63px;
  height:59px;
}
#u4203.mouseOver {
}
#u4203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4205_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4205.mouseOver {
}
#u4205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4206_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:57px;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:190px;
  width:45px;
  height:37px;
  display:flex;
}
#u4206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4206_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4206.mouseOver {
}
#u4206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:83px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
}
#u4208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4209_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:63px;
  height:69px;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:97px;
  width:43px;
  height:49px;
  display:flex;
  opacity:0.9;
}
#u4209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4211_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4211.mouseOver {
}
#u4211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:61px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:45px;
  height:41px;
  display:flex;
}
#u4212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4212_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4212.mouseOver {
}
#u4212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4186_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:334px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4186_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4215_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4215.mouseOver {
}
#u4215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4216_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:53px;
  height:49px;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:278px;
  width:43px;
  height:39px;
  display:flex;
}
#u4216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4216_img.mouseOver {
  left:-10px;
  top:-10px;
  width:63px;
  height:59px;
}
#u4216.mouseOver {
}
#u4216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:170px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
}
#u4218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4219_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:69px;
  height:61px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:189px;
  width:49px;
  height:41px;
  display:flex;
  opacity:0.9;
}
#u4219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4221_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4221.mouseOver {
}
#u4221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4222_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:59px;
  height:65px;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:100px;
  width:39px;
  height:45px;
  display:flex;
}
#u4222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4222_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4222.mouseOver {
}
#u4222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4224_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4224.mouseOver {
}
#u4224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4225_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:61px;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:45px;
  height:41px;
  display:flex;
}
#u4225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4225_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4225.mouseOver {
}
#u4225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4186_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:337px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4186_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:257px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u4228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4229_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:67px;
  height:63px;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:276px;
  width:47px;
  height:43px;
  display:flex;
  opacity:0.9;
}
#u4229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4231_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4231.mouseOver {
}
#u4231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4232_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:57px;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:190px;
  width:45px;
  height:37px;
  display:flex;
}
#u4232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4232_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4232.mouseOver {
}
#u4232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4234_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4234.mouseOver {
}
#u4234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4235_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:59px;
  height:65px;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:100px;
  width:39px;
  height:45px;
  display:flex;
}
#u4235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4235_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4235.mouseOver {
}
#u4235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u4237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4237_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u4237.mouseOver {
}
#u4237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4238_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:61px;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:45px;
  height:41px;
  display:flex;
}
#u4238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4238_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u4238.mouseOver {
}
#u4238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
