body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-106px;
  width:73px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5974 {
  position:absolute;
  left:106px;
  top:40px;
}
#u5974_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:334px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u5977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5977_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u5977.mouseOver {
}
#u5977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:53px;
  height:49px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:278px;
  width:43px;
  height:39px;
  display:flex;
}
#u5978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5978_img.mouseOver {
  left:-10px;
  top:-10px;
  width:63px;
  height:59px;
}
#u5978.mouseOver {
}
#u5978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u5980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5980_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u5980.mouseOver {
}
#u5980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5981_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:57px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:190px;
  width:45px;
  height:37px;
  display:flex;
}
#u5981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5981_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u5981.mouseOver {
}
#u5981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u5983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5983_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u5983.mouseOver {
}
#u5983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5984_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:59px;
  height:65px;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:100px;
  width:39px;
  height:45px;
  display:flex;
}
#u5984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5984_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u5984.mouseOver {
}
#u5984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-3px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
}
#u5986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5987_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:69px;
  height:65px;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:16px;
  width:49px;
  height:45px;
  display:flex;
  opacity:0.9;
}
#u5987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5974_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:334px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5974_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u5990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5990_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u5990.mouseOver {
}
#u5990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:53px;
  height:49px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:278px;
  width:43px;
  height:39px;
  display:flex;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5991_img.mouseOver {
  left:-10px;
  top:-10px;
  width:63px;
  height:59px;
}
#u5991.mouseOver {
}
#u5991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u5993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5993_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u5993.mouseOver {
}
#u5993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5994_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:57px;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:190px;
  width:45px;
  height:37px;
  display:flex;
}
#u5994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5994_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u5994.mouseOver {
}
#u5994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:83px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
}
#u5996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5997_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:63px;
  height:69px;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:97px;
  width:43px;
  height:49px;
  display:flex;
  opacity:0.9;
}
#u5997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5999_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u5999.mouseOver {
}
#u5999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6000_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:61px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:45px;
  height:41px;
  display:flex;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6000_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u6000.mouseOver {
}
#u6000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5974_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:334px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5974_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u6003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6003_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u6003.mouseOver {
}
#u6003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:53px;
  height:49px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:278px;
  width:43px;
  height:39px;
  display:flex;
}
#u6004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6004_img.mouseOver {
  left:-10px;
  top:-10px;
  width:63px;
  height:59px;
}
#u6004.mouseOver {
}
#u6004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:170px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
}
#u6006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6007_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:69px;
  height:61px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:189px;
  width:49px;
  height:41px;
  display:flex;
  opacity:0.9;
}
#u6007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u6009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6009_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u6009.mouseOver {
}
#u6009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6010_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:59px;
  height:65px;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:100px;
  width:39px;
  height:45px;
  display:flex;
}
#u6010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6010_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u6010.mouseOver {
}
#u6010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u6012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6012_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u6012.mouseOver {
}
#u6012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6013_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:61px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:45px;
  height:41px;
  display:flex;
}
#u6013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6013_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u6013.mouseOver {
}
#u6013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5974_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:337px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5974_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  box-shadow:0px 0px 10px rgba(0, 220, 255, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:257px;
  width:80px;
  height:80px;
  display:flex;
  opacity:0.9;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FAFAFA;
}
#u6016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6017_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:67px;
  height:63px;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:276px;
  width:47px;
  height:43px;
  display:flex;
  opacity:0.9;
}
#u6017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u6019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6019_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u6019.mouseOver {
}
#u6019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6020_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:57px;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:190px;
  width:45px;
  height:37px;
  display:flex;
}
#u6020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6020_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u6020.mouseOver {
}
#u6020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  -webkit-box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
  box-shadow:5px 5px 5px rgba(93, 93, 93, 1);
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u6022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6022_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u6022.mouseOver {
}
#u6022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6023_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:59px;
  height:65px;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:100px;
  width:39px;
  height:45px;
  display:flex;
}
#u6023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6023_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u6023.mouseOver {
}
#u6023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  display:flex;
  opacity:0.5;
}
#u6025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6025_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(11, 37, 69, 1);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  -webkit-box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
  box-shadow:0px 0px 10px rgba(11, 37, 69, 1);
}
#u6025.mouseOver {
}
#u6025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6026_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:65px;
  height:61px;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:45px;
  height:41px;
  display:flex;
}
#u6026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6026_img.mouseOver {
  left:-10px;
  top:-10px;
}
#u6026.mouseOver {
}
#u6026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
